.techField {
    margin: 20px 0px;
    padding: 20px 20px 20px 20px;
    height: 260px;
    width: 160px;
    /* border: 1px dotted white; */
    border-radius: 10px;
    transition: transform 0.3s ease;
    position:relative;
    overflow:hidden;
}

/* creating hover override border */

.techField::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px; /* border thickness */
  border-radius: inherit;
  background: linear-gradient(0deg, #959595, #4d4d4d);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  transition: background 0.5s ease;
  z-index: -1;
}

.techField:hover::before {
  background: linear-gradient(0deg, #959595, #5c5c5c, #ffffff);
}

/* ended creating hover override border */

.techField:hover {
    transform: translateY(-5px);
}

.techField .dots{
    background-color: white;
    position: absolute;
    top: -15px;
    left: 85px;
    padding: 7.5px 15px;
    border-radius: 30px 30px 0 0; /* top semi-circle */
    opacity: 0;
    width: 30px;
    height: 15px;
    box-sizing: border-box;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: 50% 100%;
}

.techField:hover .dots {
    transform: rotate(180deg);
    opacity: 1;
}

@media screen and (max-width: 500px) {
    .techField{
        margin:0;
        width:70vw;
        height: 400px;
    }
    .techField .dots{
        left: calc(50% - 15px); /* 10px is half of 20px width */
        width: 20px;
        height: 10px;
        /* Remove transform: translateX(-50%); */
    }
}
